.homeframe-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.homeframe-homeframe {
  gap: 10px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.homeframe-group1 {
  width: 1920px;
  height: 2560px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.homeframe-background {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 2560px;
  position: absolute;
}
.homeframe-text {
  top: 2431px;
  left: 1603.3765869140625px;
  color: rgba(76, 76, 76, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Cairo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homeframe-text02 {
  top: 1081px;
  left: 919px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: right;
  font-family: Cairo;
  font-weight: 400;
  line-height: 90px;
  font-stretch: normal;
  text-decoration: none;
}
.homeframe-text07 {
  top: 912px;
  left: 347px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: left;
  font-family: Cairo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homeframe-text09 {
  top: 2099px;
  left: 311px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 180px;
  font-style: Regular;
  text-align: left;
  font-family: Jura;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homeframe-text10 {
  color: rgba(255, 255, 255, 1);
}
.homeframe-text11 {
  color: rgba(255, 44, 82, 1);
}
.homeframe-text12 {
  color: rgba(255, 255, 255, 1);
}
.homeframe-text13 {
  color: rgba(17, 94, 209, 1);
}
